<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherForecastInfrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherForecastInfrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherForecastInfrastructure.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-GB</value>
            </setting>
        </WeatherForecastInfrastructure.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WeatherForecastInfrastructure.Properties.Settings>
            <setting name="DarkSkyUrl" serializeAs="String">
                <value>https://api.darksky.net/forecast</value>
            </setting>
            <setting name="DarkSkyKey" serializeAs="String">
                <value>82d6033efe051b1620778e61c8901f3c</value>
            </setting>
        </WeatherForecastInfrastructure.Properties.Settings>
    </applicationSettings>
</configuration>